<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sebastian Ludwig">
    <title>imapfilter</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/imapfilter.css<%= development? ? "?cache=#{rand(1000)}" : "" %>" rel="stylesheet">
  </head>
  
  <%= yield %>

</html>
